<%- include('includes/head.ejs') %> 

</head>

<body> 
    <main class="details-container">
        <div class="details">
          <p>Congratulations!</p>
          <form class="details-form" method="POST" action="/details/player-details">
            <input
              type="text"
              placeholder="Enter your name"
              name="name"
              class="name-field"
              required
            />
            <input
              type="email"
              placeholder="Enter your email address"
              name="email"
              class="email-field"
              required
            />
            <div class="yourScore">
              <p>your score is :</p><p><%= score %> </p>
            </div>
            <input type="hidden" name="score" value="<%= score %> " />
            <input type="submit" class="submit-button" />
          </form>
          <img src="/assets/FolkPersonCheering.gif" alt="girl" class="girl-image" >
          <input
            type="image"
            src="/assets/RestartButton.png"
            class="restart-button-details"
            onclick="window.location.replace('/')"
          />
        </div>
      </main>

<%- include('includes/end.ejs') %>