<%- include('includes/head.ejs') %> 

</head>

<body> 
    <main class="details-container">
        <div class="details">
          <h1>Congratulations!</h1>
          <form class="details-form" method="POST" action="/details/player-details">
            <input
              type="text"
              placeholder="Enter your name"
              name="name"
              class="name-field"
            />
            <input
              type="email"
              placeholder="Enter your email address"
              name="email"
              class="email-field"
            />
            <input type="hidden" name="score" value="<%= score %> " />
            <input type="submit" class="submit-button" />
          </form>
          <input
            type="image"
            src="/assets/RestartButton.png"
            class="restart-button-details"
            onclick="window.location.replace('/game')"
          />
        </div>
      </main>

<%- include('includes/end.ejs') %>