<%- include('includes/head.ejs') %> 
<link rel="stylesheet" href="/css/details.css">
</head>

<body> 
    <h1>Enter Your Details</h1>
    <main class="player-details">
        
        <form class="details-form" action="/details/player-details" method="POST">
        <div class="form-control">
            <label for="name">Name</label>
            <input type="text" name="name" id='name' required>
        </div>
        <div class="form-control">
            <label for="email">Email address</label>
            <input type="text" name="email" id='email' required>
        </div>
        <div class="form-control">
            <label for="score">Score</label> 
            <p><%= score %> </p>
            <input type="hidden" name="score" id='score' value='<%= score %>' >
        </div>
        <button class="btn" type="submit">Submit</button>
        </form>
    </main>

<%- include('includes/end.ejs') %>