<%- include('includes/head.ejs')  %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />

</head>

<body>
    <main class="menu-container">
        <div class="menu">
          <input
            class="start-button"
            type="image"
            src=" /assets/StartButton.png"
            onclick="window.location.replace('/game')"
          />
          <input
            type="image"
            src="/assets/Top10Button.png"
            class="top-ten-button"
            onclick="window.location.replace('/score-board');"
          />
          <input
            type="image"
            src="/assets/HowToPlayButton.png"
            class="how-to-play-button"
            onclick="window.location.replace('/how-to-play')"
          />
        </div>

        <div class="share-btn-container" >
          <a href="#" class="facebook-btn">
            <i class="fab fa-facebook"></i>
          </a>
          <a href="#" class="twitter-btn">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#" class="whatsapp-btn">
            <i class="fab fa-whatsapp"></i>
          </a>
         
        </div>
      </main>

      <script src="/js/social.js"></script>
    
<%- include('includes/end.ejs') %> 