<%- include('includes/head.ejs')  %>

</head>

<body>
    <main class="menu-container">
        <div class="menu">
          <input
            class="start-button"
            type="image"
            src=" /assets/StartButton.png"
            onclick="window.location.replace('/game')"
          />
          <input
            type="image"
            src="/assets/Top10Button.png"
            class="top-ten-button"
            onclick="window.location.replace('/score-board');"
          />
          <input
            type="image"
            src="/assets/HowToPlayButton.png"
            class="how-to-play-button"
            onclick="window.location.replace('/how-to-play')"
          />
        </div>

        <div class="share-btn-container" >
          <a href="#" class="facebook-btn">
            <img src="/assets/Fb.png" alt="">
          </a>
          <a href="#" class="twitter-btn">
            <img src="/assets/Twitter.png" alt="">
          </a>
          <a href="#" class="whatsapp-btn">
            <img src="/assets/WhatsApp.png" alt="">
          </a>
         
        </div>
      </main>

      <script src="/js/social.js"></script>
    
<%- include('includes/end.ejs') %> 