@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Press Start 2P", cursive;
  background-image: url("../assets/JoxxerBG.png");
}

.menu-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.menu {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.start-button,
.how-to-play-button,
.top-ten-button {
  border: none;
  margin-bottom: 15px;
}

.start-button:focus,
.how-to-play-button:focus,
.top-ten-button:focus,
.restart-button:focus {
  outline: none;
}

th,
td {
  padding: 10px;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}

.scoreboard-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.scoreboard {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  color: white;
}

.scoreboard h1 {
  font-size: 50px;
  text-transform: uppercase;
}

.scoreboard table {
  background-color: #429058;
  border: 1px solid black;
  border-radius: 3px;
  font-size: 25px;
  width: 512px;
}

.restart-button {
  margin: 20px;
  width: 200px;
}

.your-score {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #429058;
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 3px;
  padding: 5px 20px;

  display: flex;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
}

.your-score-value {
  margin-left: 10px;
}

.submit-button {
  cursor: pointer;
  text-indent: -99999px;
  background: transparent url("../assets/SubmitButton.png") no-repeat;
  border: none;
  height: 47px;
  width: 142px;
  margin-top: 40px;
}

.submit-button:focus {
  outline: none;
}

.details-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 464px) {
  .details-container {
    padding: 10px;
    left: 50%;
  }
}

.details {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  color: white;
  background-color: #429058;
  border: 1px solid black;
  border-radius: 3px;
}

.details-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  color: black;
}

.name-field,
.email-field {
  padding: 15px 10px;
  width: 300px;
  text-align: center;
  margin: 10px;
  border: 1px solid black;
  border-radius: 3px;
}

.name-field:focus,
.email-field:focus {
  outline: none;
}

.details p {
  font-size: 20px;
  text-transform: uppercase;
}

.restart-button-details {
  margin-top: 80px;
}

.restart-button-details:focus {
  outline: none;
}

.how-to-play-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.how-to-play {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  color: white;
}

.how-to-play h1 {
  color: white;
  font-weight: bold;
}

.how-play-image {
  height: 400px;
  width: 380px;
  background-image: url("../assets/howtoplay1.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.button-container {
  margin-top: -80px;
}
.button-container input {
  margin: 10px;
}

.back-button {
  margin-top: 50px;
}

.back-button:focus {
  outline: none;
}
.yourScore {
  color: white;
  display: flex;
  margin-top: 10px;
}
.yourScore p {
  font-size: 16px;
}
