body {
  background-image: url("../assets/JoxxerBG.png");
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.game-box {
  height: fit-content;
  width: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

@media only screen and (max-width: 740) {
  .game-box {
    transform: translate(-50%, -40%);
  }
}

@media only screen and (max-height: 900px) {
  .game-box {
    transform: translate(-50%, -40%);
  }
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-4915px, 0, 0);
  }
}

@keyframes groundslide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-348px, 0, 0);
  }
}

.game-container {
  overflow: hidden;
  width: 348px;
}

.sky {
  background-image: url("../assets/LongBackground.png");
  background-repeat: repeat-x;
  height: 480px;
  width: 14750px;
  animation: slide 60s linear infinite;
}
.ground-container {
  overflow: hidden;
  width: 348px;
}

.ground {
  background-image: url("../assets/backgrounds/BeachGround.png");
  background-repeat: repeat-x;
  height: 62px;
  width: 1044px;
  animation: groundslide 8s linear infinite;
}

.bird {
  background-image: url("../assets/LeprechaunJumpGIF.gif");
  height: 50px;
  width: 32px;
  position: absolute;
  bottom: 250px;
  left: 100px;
}

.obstacle {
  height: 80px;
  width: 80px;
  background-repeat: no-repeat;
  position: absolute;
}

.info-container {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}

.info {
  display: flex;
  justify-content: space-around;
}

.timer {
  display: flex;
}

.score {
  display: flex;
}

.score p,
.timer p {
  color: white;
  font-size: 20px;
}

.score-text,
.timer-text {
  font-size: 20px;
  margin-left: 5px;
}

.start-button {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(64, 177, 98);
  border: 3px solid white;
  border-radius: 50px;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.start-button:hover {
  background-color: greenyellow;
  border: none;
  padding: 25px;
}

.top-projectile {
  background-image: url("../assets/obstacle/Fireball.gif");
  position: absolute;
  height: 21px;
  width: 27px;
}

.bottom-projectile {
  background-image: url("../assets/obstacle/Ball.png");
  position: absolute;
  width: 20px;
  height: 21px;
}

.projectiles {
  height: 22px;
  width: 22px;
  background-repeat: no-repeat;
  position: absolute;
}
